/******************************************************************/
/******************style search of cerificate**********************/
/*******busqueda and search change*******/

#selec_search {
    display: flex;
    justify-content: center;
    list-style: none;
}

#selec_search li {
    margin: 10px;
    background-color: #343a40;
    color: white;
    text-align: center;
    border-radius: 20px;
    transition: 0.5s;
}

#selec_search li:hover {
    background-color: gray;
}

#dni_selection {
    padding: 5px 50px 5px 50px;
}

#codigo_selection {
    padding: 5px 40px 5px 40px;
}

#nombre_selection {
    padding: 5px 30px 5px 30px;
}

/*******form for search*******/

#form_search {
    margin: 2rem 0 2rem 0;
}

#form_search input {
    border-color: transparent transparent black transparent;
    place-content: color white;
    width: 13%;
}

#form_search input:focus {
    border-color: transparent transparent gray transparent;
    outline: none;
}

#form_search button {
    background-color: #343a40;
    color: #fff;
    border-radius: 20px;
    padding: 0px 10px 0px 10px;
    transition: 0.5s;
}

#form_search button:hover {
    background-color: gray;
    border: #999999;
}


input[type="text"]::placeholder {
    color: #999999;
    opacity: 1;
    transition: opacity 0.2s ease-out;
}

input[type="text"]:focus::placeholder {
    opacity: 0;
}

/*******table results*******/
#contend_result {
    margin: 1rem;
    border-radius: 10px;
}

#estudiante_table {
    margin: 2rem;
    cursor: pointer;
    color: black;
    border: 1px solid black;
}

#table_head {
    background-color: black;
    color: white;
}
#estudiante_table a {
    color: black;
    font-size: 20px;
}

/*******window float*******/

#ventana-flotante {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid white;
    z-index: 999;
    border-radius: 10px;
    box-shadow: 2px 52px 90px -1px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow: 2px 52px 90px -1px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 2px 52px 90px -1px rgba(0, 0, 0, 0.33);
}

#ventana-flotante {
    text-align: center;
}

#ventana-flotante li {
    list-style: none;
}

#ventana-flotante button {
    transform: translate(180px, -20px);
    border-color: transparent;
    background-color: transparent;
    transition:1.5s;
}

.contenedor_ventanasearch {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.svg_ventana_flotante {
    grid-area: 1 / 1 / 2 / 2;
}

.texto_ventana_flotante {
    grid-area: 1 / 2 / 2 / 3;
    font-size: 20px;
}

#li_file {
    margin: 5px 0 5px 0;
    background-color: gray;
    border-radius: 20px;
    color: white;
}
#ul_create li{
    list-style: none;
}
.tbodygenerate{
    transition:1.5s;
    border: 1px solid black;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
.tbodygenerate:hover{
    background-color: rgb(224, 224, 224);
}
